name: Build and Publish Docker Image
on:
  push:
    tags:
      - '*'
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract tag
        id: vars
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/siteship-workflows:latest
            ghcr.io/${{ github.repository_owner }}/siteship-workflows:${{ env.TAG }}
      - name: SSH to Elestio and update Airflow
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.ELESTIO_HOST }}
          username: ${{ secrets.ELESTIO_USER }}
          key: ${{ secrets.ELESTIO_SSH_KEY }}
          script: |
            cd /opt/airflow
            export SOFTWARE_VERSION_TAG=${{ github.ref_name }}
            docker compose pull
            docker compose up -d --no-deps airflow-scheduler airflow-worker airflow-apiserver airflow-triggerer
            docker system prune -f